
.dropdown{
    position: relative;
}

.dropdown_items{
    display:flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    border-radius: 7px;
    top:100%;
    margin-top: 7px;
    right: 7px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

.dropdown__menu{
    cursor: pointer;
}


