*{
  background: none;
  box-sizing: border-box;
}


img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

h1,h2,h3,h4,p,div,button,nav{
  border:none;
  margin: 0;
  padding: 0;
}
/* #fffbf2 */
html{
  background-color: white;
  margin: 0;
  padding-inline: 116px;
  font-family: 'Montserrat', 'sans-serif';
}

.btn{
  padding: 18px 45px;
  border-radius:17px;
  color:#FFFEFC;
  background-color: #F79574;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 25px;
  font-weight: 400;
  display:flex;
  text-align: center;
  align-items: center;
  gap:20px;
  cursor: pointer;
}

ul{
  list-style: none;
}

.icon{
  width: 29px;
  height: 29px;
}

a{
  text-decoration: none;
  color:black;
}


@media (max-width:1024px){
  html{
    padding-inline: 10px;
  }
}

@media (max-width: 768px) {
  html{
    padding-inline: 5px;
  }
  
}


